In [1]:
from datetime import date, timedelta

from company_time import CompanyTime

ct = CompanyTime()

d = date(2019,3,22)
print(d)
print(type(d))
ct.get_walmart_week(d)

2019-03-22
<class 'datetime.date'>

201908

In [29]:

import pandas as pd
from datetime import date
import holidays
holidays.UnitedStates
holiday_list = []
for holiday in holidays.UnitedStates(years=[2022, 2023,2024]).items():
    holiday_list.append(holiday)
df_holidays = pd.DataFrame(holiday_list,columns=['holiday_date','holiday_name'])

In [ ]:
#how to handle 53 week years

In [17]:
df = ct.gregorian_calendar_dataframe(start_date="01-01-2022", end_date="02-01-2023")
df

    calendar_date
0      2022-01-01
1      2022-01-02
2      2022-01-03
3      2022-01-04
4      2022-01-05
..            ...
362    2022-12-29
363    2022-12-30
364    2022-12-31
365    2023-01-01
366    2023-01-02

[367 rows x 1 columns]

In [30]:
import pandas as pd
import datetime as dt
from datetime import datetime

df['calendar_date'] =  pd.to_datetime(df['calendar_date']).apply(lambda x: x.date())

ct = CompanyTime()
df = ct.calendar_dataframe(df,'calendar_date','wmt')
df

,calendar_date,walmart_week,calendar_week,month,calendar_monthday,calendar_weekday,holiday_date,holiday_name
0,2022-01-01,202149,202201,January,01,Saturday,2022-01-01,New Year's Day
1,2022-01-02,202149,202202,January,02,Sunday,NaN,NaN
2,2022-01-03,202149,202202,January,03,Monday,NaN,NaN
3,2022-01-04,202149,202202,January,04,Tuesday,NaN,NaN
4,2022-01-05,202149,202202,January,05,Wednesday,NaN,NaN
...,...,...,...,...,...,...,...,...
362,2022-12-29,202248,202253,December,29,Thursday,NaN,NaN
363,2022-12-30,202248,202253,December,30,Friday,NaN,NaN
364,2022-12-31,202249,202253,December,31,Saturday,NaN,NaN
365,2023-01-01,202249,202301,January,01,Sunday,2023-01-01,New Year's Day
366,2023-01-02,202249,202301,January,02,Monday,2023-01-02,New Year's Day (Observed)