In [1]:
from datetime import date

from company_time import CompanyTime
import pandas as pd


ct = CompanyTime()

d = date(2019,3,22)
print(d)
print(type(d))
ct.get_walmart_year_week(d)

2019-03-22
<class 'datetime.date'>

201908

In [7]:
df = ct.gregorian_calendar_dataframe(start_date="01-01-2023", end_date="03-01-2026")

df['calendar_date'] =  pd.to_datetime(df['calendar_date']).apply(lambda x: x.date())

ct = CompanyTime()
df = ct.calendar_dataframe(df,'calendar_date','wmt')


#df['cumsum'] = df.groupby('col1')['col3'].transform(pd.Series.cumsum)
#df[df['calendar_month']=='January']

                            n walmart_week
walmart_year walmart_month
2022         January        4           49
2023         April          4           10
             August         4           27
             December       5           44
             February       4           01
             July           4           23
             June           5           18
             March          5           05
             May            4           14
             November       4           40
             October        4           36
             September      5           31
2024         January        1           53