In [1]:
from datetime import date, timedelta

from company_time import CompanyTime

ct = CompanyTime()

d = date(2019,3,22)
print(d)
print(type(d))
ct.get_walmart_week(d)

2019-03-22
<class 'datetime.date'>

201908

In [4]:
df = ct.gregorian_calendar_dataframe(start_date="01-01-2020",end_date="01-01-2021")
df

    calendar_date
0      2020-01-01
1      2020-01-02
2      2020-01-03
3      2020-01-04
4      2020-01-05
..            ...
362    2020-12-28
363    2020-12-29
364    2020-12-30
365    2020-12-31
366    2021-01-01

[367 rows x 1 columns]

In [5]:
import pandas as pd
import datetime as dt
from datetime import datetime

df['calendar_date'] =  pd.to_datetime(df['calendar_date']).apply(lambda x: x.date())

ct = CompanyTime()
ct.calendar_dataframe(df,'calendar_date','wmt')

,calendar_date,walmart_week,calendar_week,month,calendar_monthday,calendar_weekday
0,2020-01-01,201949,202001,January,01,Wednesday
1,2020-01-02,201949,202001,January,02,Thursday
2,2020-01-03,201949,202001,January,03,Friday
3,2020-01-04,201950,202001,January,04,Saturday
4,2020-01-05,201950,202002,January,05,Sunday
...,...,...,...,...,...,...
362,2020-12-28,202048,202101,December,28,Monday
363,2020-12-29,202048,202101,December,29,Tuesday
364,2020-12-30,202048,202101,December,30,Wednesday
365,2020-12-31,202048,202101,December,31,Thursday
366,2021-01-01,202048,202101,January,01,Friday