In [6]:
from datetime import date, timedelta
import numpy as np
from company_time import CompanyTime

ct = CompanyTime()

d = date(2019,3,22)
print(d)
print(type(d))
ct.get_walmart_week(d)

2019-03-22
<class 'datetime.date'>

201908

In [7]:
#how to handle 53 week years

In [8]:
df = ct.gregorian_calendar_dataframe(start_date="01-01-2023", end_date="02-01-2024")
df

    calendar_date
0      2023-01-01
1      2023-01-02
2      2023-01-03
3      2023-01-04
4      2023-01-05
..            ...
362    2023-12-29
363    2023-12-30
364    2023-12-31
365    2024-01-01
366    2024-01-02

[367 rows x 1 columns]

In [9]:
import pandas as pd
import datetime as dt
from datetime import datetime

df['calendar_date'] =  pd.to_datetime(df['calendar_date']).apply(lambda x: x.date())

ct = CompanyTime()
df = ct.calendar_dataframe(df,'calendar_date','wmt')
df

,calendar_date,year,walmart_week,calendar_week,month,calendar_monthday,calendar_weekday,holiday_date,holiday_name,walmart_month
0,2023-01-01,2023,202249,202301,January,01,Sunday,2023-01-01,New Year's Day,None
1,2023-01-02,2023,202249,202301,January,02,Monday,2023-01-02,New Year's Day (Observed),None
2,2023-01-03,2023,202249,202301,January,03,Tuesday,NaN,NaN,None
3,2023-01-04,2023,202249,202301,January,04,Wednesday,NaN,NaN,None
4,2023-01-05,2023,202249,202301,January,05,Thursday,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...
362,2023-12-29,2023,202348,202352,December,29,Friday,NaN,NaN,December
363,2023-12-30,2023,202349,202352,December,30,Saturday,NaN,NaN,December
364,2023-12-31,2023,202349,202401,December,31,Sunday,NaN,NaN,December
365,2024-01-01,2024,202349,202401,January,01,Monday,2024-01-01,New Year's Day,December
366,2024-01-02,2024,202349,202401,January,02,Tuesday,NaN,NaN,December

In [32]:

walmart_month_index = {"01":"February",
                    "02":"February",
                    "03":"February",
                    "04":"February",
                    "05":"March",
                    "06":"March",
                    "07":"March",
                    "08":"March",
                    "09":"March",
                    "10":"April",
                    "11":"April",
                    "12":"April",
                    "13":"April",
                    "14":"May",
                    "15":"May",
                    "16":"May",
                    "17":"May",
                    "18":"June",
                    "19":"June",
                    "20":"June",
                    "21":"June",
                    "22":"June",
                    "23":"July",
                    "24":"July",
                    "25":"July",
                    "26":"July",
                    "27":"August",
                    "28":"August",
                    "29":"August",
                    "30":"August",
                    "31":"September",
                    "32":"September",
                    "33":"September",
                    "34":"September",
                    "35":"September",
                    "36":"October",
                    "37":"October",
                    "38":"October",
                    "39":"October",
                    "40":"November",
                    "41":"November",
                    "42":"November",
                    "43":"November",
                    "44":"December",
                    "45":"December",
                    "46":"December",
                    "47":"December",
                    "48":"December",
                    "49":"January",
                    "50":"January",
                    "51":"January",
                    "52":"January",
                    "53":"January"
                       }

df['walmart_week_number'] = df['walmart_week'].astype(str).str[-2:]
df

,calendar_date,year,walmart_week,calendar_week,month,calendar_monthday,calendar_weekday,holiday_date,holiday_name,walmart_month,walmart_week_number
0,2023-01-01,2023,202249,202301,January,01,Sunday,2023-01-01,New Year's Day,None,49
1,2023-01-02,2023,202249,202301,January,02,Monday,2023-01-02,New Year's Day (Observed),None,49
2,2023-01-03,2023,202249,202301,January,03,Tuesday,NaN,NaN,None,49
3,2023-01-04,2023,202249,202301,January,04,Wednesday,NaN,NaN,None,49
4,2023-01-05,2023,202249,202301,January,05,Thursday,NaN,NaN,None,49
...,...,...,...,...,...,...,...,...,...,...,...
362,2023-12-29,2023,202348,202352,December,29,Friday,NaN,NaN,February,48
363,2023-12-30,2023,202349,202352,December,30,Saturday,NaN,NaN,February,49
364,2023-12-31,2023,202349,202401,December,31,Sunday,NaN,NaN,February,49
365,2024-01-01,2024,202349,202401,January,01,Monday,2024-01-01,New Year's Day,February,49
366,2024-01-02,2024,202349,202401,January,02,Tuesday,NaN,NaN,February,49

In [31]:
df[df['month']=='March']

,calendar_date,year,walmart_week,calendar_week,month,calendar_monthday,calendar_weekday,holiday_date,holiday_name,walmart_month
59,2023-03-01,2023,202305,202309,March,01,Wednesday,NaN,NaN,February
60,2023-03-02,2023,202305,202309,March,02,Thursday,NaN,NaN,February
61,2023-03-03,2023,202305,202309,March,03,Friday,NaN,NaN,February
62,2023-03-04,2023,202306,202309,March,04,Saturday,NaN,NaN,February
63,2023-03-05,2023,202306,202310,March,05,Sunday,NaN,NaN,February
64,2023-03-06,2023,202306,202310,March,06,Monday,NaN,NaN,February
65,2023-03-07,2023,202306,202310,March,07,Tuesday,NaN,NaN,February
66,2023-03-08,2023,202306,202310,March,08,Wednesday,NaN,NaN,February
67,2023-03-09,2023,202306,202310,March,09,Thursday,NaN,NaN,February
68,2023-03-10,2023,202306,202310,March,10,Friday,NaN,NaN,February
69,2023-03-11,2023,202307,202310,March,11,Saturday,NaN,NaN,February
70,2023-03-12,2023,202307,202311,March,12,Sunday,NaN,NaN,February
71,2023-03-13,2023,202307,202311,March,13,Monday,NaN,NaN,February
72,2023-03-14,2023,202307,202311,March,14,Tuesday,NaN,NaN,February
73,2023-03-15,2023,202307,202311,March,15,Wednesday,NaN,NaN,February
74,2023-03-16,2023,202307,202311,March,16,Thursday,NaN,NaN,February
75,2023-03-17,2023,202307,202311,March,17,Friday,NaN,NaN,February
76,2023-03-18,2023,202308,202311,March,18,Saturday,NaN,NaN,February
77,2023-03-19,2023,202308,202312,March,19,Sunday,NaN,NaN,February
78,2023-03-20,2023,202308,202312,March,20,Monday,NaN,NaN,February
79,2023-03-21,2023,202308,202312,March,21,Tuesday,NaN,NaN,February
80,2023-03-22,2023,202308,202312,March,22,Wednesday,NaN,NaN,February
81,2023-03-23,2023,202308,202312,March,23,Thursday,NaN,NaN,February
82,2023-03-24,2023,202308,202312,March,24,Friday,NaN,NaN,February
83,2023-03-25,2023,202309,202312,March,25,Saturday,NaN,NaN,February
84,2023-03-26,2023,202309,202313,March,26,Sunday,NaN,NaN,February
85,2023-03-27,2023,202309,202313,March,27,Monday,NaN,NaN,February
86,2023-03-28,2023,202309,202313,March,28,Tuesday,NaN,NaN,February
87,2023-03-29,2023,202309,202313,March,29,Wednesday,NaN,NaN,February
88,2023-03-30,2023,202309,202313,March,30,Thursday,NaN,NaN,February
89,2023-03-31,2023,202309,202313,March,31,Friday,NaN,NaN,February

In [27]:
df_grouped = df[['year','walmart_month','walmart_week','calendar_date']]
df_grouped = df_grouped.groupby(['walmart_month','walmart_week']).first().reset_index()
df_grouped['n']=1
df_grouped.groupby(['year','walmart_month']).sum()

/var/folders/8c/f0542jvx1njfhwndhvbh4rwr0000gn/T/ipykernel_3053/2054654521.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped.groupby(['year','walmart_month']).sum()

Empty DataFrame
Columns: [walmart_week, n]
Index: []

In [28]:
df_grouped[df_grouped['walmart_month']=='April']

Empty DataFrame
Columns: [walmart_month, walmart_week, year, calendar_date, n]
Index: []